.only-size {
	position: relative;
	display: block;
	outline: none;
	cursor: default;
	display: flex;
	width: 100%;
	background-color: white;
	border: 0px;
	border-radius: 0px;
	padding: 8px;
	text-align: left;
}
